#container {
  padding-top: 150px;
   padding-bottom: 0px;
}


* { margin: 0; padding-bottom: 0; }

html{
overflow-x : hidden;
overflow-y : auto;

}



.sp { display: none !important; }


@media screen and (max-width: 499px) {
header img,nav{
  display: none;
  }


.sp { display: block !important; }

html,body{
  overflow: hidden;
	  width: 100%;
}

}









body{

background-color:#EFEBE1;
	font-family: 'Comfortaa', cursive;

  overflow-x : hidden;
overflow-y : auto;


}

header {
    display: flex;
    align-items: center;
        position: fixed;
        background: linear-gradient(rgba(237,214,162,1) 60%,rgba(237,214,162,0));

    
    z-index: 10000;
}


header img{
  margin-left: 3%;

}
nav {

  margin-left: auto;
  margin-right: 5%;

}


ul{

	display:flex;
	
	

}

li{
margin:0;
list-style:none;
font-family: 'Comfortaa', cursive;
}

.photo{

	 position: relative;/*相対配置*/
   margin-top: 4%;
  }

.photo p {
font-weight: bold;
  position: absolute;/*絶対配置*/
  color: #E2AD05;/*文字色指定*/
  font-size:250%;
  top: 25%;
  left: 10%;
  }

.photo img {
  width: 100%;
  }


.top_about{
	margin-top: 8%;
	margin-left: 10%;
 line-height: 40px;



}
  .top_about h2{


color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
  padding-top: 140px;
   margin-top:-170px;
  

  }


.border{
  position: relative;
  /*font-size: 18px;*/
}

.border:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -15%;
  border-bottom: solid 30px #EDB61D;
  animation: border_anim 1s linear forwards;
   animation-timing-function:ease-out;
 
/*  font-weight: bold;*/

}

@keyframes border_anim {
  0%{
    width: 0%;
  }
  100%{
    width: 10%;
  }
}





.top_about h3{
	font-size:230%;
  line-height: 150px;
  margin-top: -2%;

}
  .top_about h4{

  	font-size:120%;
  	line-height: 50px;
    margin-bottom:2%;
     margin-top:-3%;
  }

.top_about p{
   margin-top:3%;
}


  .top_Example{
	margin-top: 7%;
	margin-left: 10%;
	
 line-height: 40px;


}


  .top_Example h2{

  	color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
  padding-top: 140px;
   margin-top:-160px;

  }



.slider0{
  margin-top:3%;
  margin-left:9%;



width :100%;
}





.befphoto0 {
  
  margin-right: 0;
  width :100%;

 
  
}

.ex1_tex{
margin-left:10%;
line-height: 30px;
margin-bottom: 10%;
 
}

.ex1_tex p{

   margin-top: 1%;
    width :100%;

}



.slider1{
  margin-top:10%;
  margin-left:9%;



width :100%;
}



hr {
 margin-top:10%;


   border-width: 1px 0px 0px 0px; /* 太さ */
   border-style: solid; /* 線種 */
   border-color: #EDB61D;   /* 線色 */

}







/*.sns{

margin-left:10%;
display: flex;*/
  /*align-items: center; /* 垂直中心 */
/*  justify-content: center; /* 水平中心 */
/*color:#828282;

}*/



.top_contact h2{

    color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
margin-left:auto;
  margin-right:10%;
    margin-top:2%;

  }
  

.con{
   text-align:right;
   width:90%;
  margin-top: 3%;
   margin-right:50%:
   margin-left:auto;
    line-height:300%;

   

}

p.con:after{
  content:"↗︎";
}


.con1{
    text-align: right;
width:50%;
  margin-left:auto;
  margin-right:10%;
  margin-bottom: :-10%;
  font-size: 80%;

}

p.con1:before{
  content:"🌼";
}
p.con1:after{
  content:"🌼";
}



.sns0 {
   
  margin-left:10%;
  margin-top:-13%;
  margin-bottom: 2%;
  color:#828282;
  

}
.sns0 img{
   margin-left:-2%;
margin-top:5%;
}

.sns1{
  color:#828282;
}

a.toplink {
color:#000000;

text-decoration:none;

 position: relative;
  display: inline-yellow;
  
}

a.toplink ::after{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #EDB61D;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover.toplink ::after{
  transform-origin: left top;
  transform: scale(1, 1);
}


a.iconlink {
 
color:#828282;
text-decoration:underline;
 
}

a:hover.iconlink {
 
color:#EDB61D;
text-decoration:underline;
 
}

/*.iconcolar{
  
  margin-left:0%;
}
*/

.bottomcolar{
  background-color:#EFE5CE;
  height:200%;
  padding-top: 0.5%;

}




footer{

  font-size:70%;

  text-align:center;
  background-color:#EDD496;

}

.foot p{
  line-height:500%;
  color:#828282;
}






/*ここからFlow*/

.top_flow{
  margin-top: 9.7%;
  margin-left:10%;
 line-height: 40px;



}

.top_flow h2{


color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
  
 

  }

  .top_flow h3{
    margin-top: 2%;
    font-size: 120%;
  }




.flow {
text-align:center;
margin-top: -2%;
}







.top_FAQ{
  margin-top: 7%;
  margin-left: 10%;
  
 line-height: 40px;


}

.top_FAQ h2{


color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
  padding-top: 140px;
   margin-top:-170px;
  

  }

.top_FAQ h3{
    margin-top: 2%;
    font-size: 120%;
  }



.qa-list{
  margin-right: 15%;
  margin-left: 15%;
   margin-top: 5%;
    margin-bottom: 10%;
  
}


.qa-list dl {
    position: relative;
    margin: 0;
    padding: 10px 80px 10px 30px;
    cursor: pointer;
    border-bottom: 1px solid #A8A8A8; /*下３本の横線*/
}
.qa-list dl:first-child {
    border-top: 1px solid #A8A8A8; /*一番上の線/pxは太さ*/
}
.qa-list dl::before { /*矢印（open前）*/
    position: absolute;
    top: 20px;
    right: 35px;
    display: block;
    width: 7px;
    height: 7px;
    margin: auto;
    content: '';
    transform: rotate(135deg);
    border-top: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
}
.qa-list .open::before {/*矢印（open後に向き変わる）*/
    transform: rotate(-45deg);
}
.qa-list dl dt {
    position: relative;
    margin: 0;
    padding: 0 0 0 50px; /*Qと文字の間の空白*/
   /* font-weight: bold;
    font-size: 15px;*/
}
.qa-list dl dt::before {  /*先頭のQ*/
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    content: 'Q.';
    color: #EDB61D;
}
.qa-list dl dd::before { /*先頭のA*/
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    display: block;
    content: 'A.';
    font-weight: bold;
    color: #C9AE73;
}
.qa-list dl dd {   /*Aの位置*/
    position: relative;
    display: none;
    height: auto;
    margin: 20px 0 0;
    padding: 0 0 0 50px;
}
.qa-list dl dd p {
    margin: 30px 0 0;
}
.qa-list dl dd p:first-child{ /*入れないと開いた時にガクってなる*/
    margin-top: 0;
}

@media screen and (max-width: 767px) {/*なんか文字のサイズ変わる*/
.qa-list dl {
    position: relative;
    padding: 15px 40px 15px 10px;
}
.qa-list dl::before {
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
}
.qa-list dl dt {
    padding: 0 0 0 30px;
    font-size: 14px;
}
.qa-list dl dt::before {
    font-size: 14px;
    top: 3px;
    left: 5px;
    content: 'Q.';
}
.qa-list dl dd::before {
    font-size: 14px;
    top: 5px;
    left: 5px;
    content: 'A.';
}
.qa-list dl dd {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    font-size: 14px;
}
.qa-list dl dd p {
    margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
    margin-top: 0;
}
}





/*ここからmap*/





.top_access{
  margin-top: 9.7%;
  margin-left: 10%;

 line-height: 40px;


}


.top_access h2{



color: #EDB61D;
font-weight: bold;

width:10%;
  border-bottom: solid 30px #EDB61D;
  
 


  }

  .top_access h3{
    margin-top: 2%;
    font-size: 120%;
  }


  .map{
      margin-top: 4%;
       margin-bottom: 10%;
  margin-left: 10%;
 width:40%;
  }



.square {
  position: absolute;/*絶対配置*/
  top:0;
  left:3%;
   position: fixed;
  width: 203px;
  height: 110px;
  background: #00000000;
  z-index: 10001;
 
}







a:hover.square{
 text-decoration:none;
}
















