#container {
  padding-top: 150px;
   padding-bottom: 0px;
}


* { margin: 0; padding-bottom: 0; }

html{
overflow-x : hidden;
overflow-y : auto;


}


/* 画面全体の設定 */
#loader_wrap {
position: fixed;
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
height: 100vh;
top: 0;
background: #fff;
}
/* ローディングアニメーションの設定 */
.loader {
width: 150px;
height: 150px;
background: url("img/Daisy_icon.png") no-repeat;
opacity: 0;
animation: blink 1.5s infinite linear;
}

@keyframes blink {
50% {
opacity: 1;
}
}

/* ローディング終了後 */
.loaded {
opacity: 0;
visibility: hidden;
}



/*.sp { display: none !important; }*/
@media screen and (max-width:399px) {

#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 2px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:3px;
}
/*#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}*/
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
  left:-10px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: #666;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2){
  top: 6px;
  background :#666;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
  left:0px;
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #EDD496;
  font-size: 13px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%:;
  height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
    
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 20px 30px;
}
#gNav .gNav-menu li a{
  color: #666;
  text-decoration: none;
}





.pcmenu{
  display: none;
  }


/*.sp { display: block !important; }*/


html,body{
 /* overflow: hidden*/
 font-size: 2.3vw;
}

.ph_minfont{
  font-size: 4.5vw;
  line-height: 250%;
  text-align:center;
}
.minfont{
  display: none;
  }
.phfont_map{
  font-size: 3vw;
}



   header img{
  width:10%;
  height:auto;
   }

   .photo{

   position: relative;/*相対配置*/
   margin-top: 5%;
  }

header{
  min-width: 1019px;
}




.slider0 {
display:none;
 

}
.pc_slider0{
 
    margin-top:12%;


margin-left:0%;

max-width :100%;

text-align:center;
  font-size:3vw;
}


.top_about h2{

position: relative;
color: #EDB61D;
font-weight: bold;

/*width:23%;
  border-bottom: solid 1.5em #EDB61D;*/
  padding-top: 60px;
   margin-top:-60px;
    margin-bottom:3%;
  

  }

.top_Example h2{

    color: #EDB61D;
font-weight: bold;

/*width:23%;
  border-bottom: solid 1.5em #EDB61D;*/
  padding-top: 60px;
   margin-top:-50px;
    margin-bottom:5%;

  }


  .top_flow h2{


color: #EDB61D;
font-weight: bold;

/*width:23%;
  border-bottom: solid 1.5em #EDB61D;*/
  margin-top:25%;
   margin-bottom:13%;
 

  }

  .top_access h2{



color: #EDB61D;
font-weight: bold;

/*width:23%;
  border-bottom: solid 1.45em #EDB61D;*/
     margin-top:23%;
  margin-bottom:10%;


  }

  .top_FAQ h2{


color: #EDB61D;
font-weight: bold;

/*width:23%;
  border-bottom: solid 1.5em #EDB61D;*/

   margin-bottom:13%;
    padding-top: 60px;
   margin-top:-110px;
/*  padding-top: 140px;
   margin-top:-170px;*/

  

  }

  .top_contact h2{

    color: #EDB61D;
font-weight: bold;
text-align: right;

/*width:18%;
  border-bottom: solid 1.5em #EDB61D;*/
margin-left:auto;
  margin-right:10%;
    margin-top:2%;
     margin-bottom:8%;

  }
.photo p {
font-weight: bold;
  position: absolute;/*絶対配置*/
  color: #E2AD05;/*文字色指定*/
  font-size:250%;
  top: 25%;
  left: 10%;
  }



.cost{
  margin-top: 10%;
  font-size: 4vw;
  margin-bottom: 10%;
}
.exfont{
  margin-top: 10%;
   font-size: 4.4vw;
  line-height: 220%;
}

.sns0 img{
width:30%;


}

.sns0{
  font-size:2.5vw;
}

.foot{
   font-size:2.2vw;
}
p.con{
   font-size:3vw;
}
p.con1{
   font-size:2.5vw;
}


/*
.top_Example{
     font-size:2.5vw;
}*/
/*h2.anchor{
    display: block;

    margin-top: -50px;
}*/
.square {
  position: absolute;/*絶対配置*/
  top:0;
  left:3%;
   position: fixed;
  width: 95px;
  height: 54px;
  background: #00000000;
/*  background:green;*/
  z-index: 10001;
 
}


.qa-list{
  margin-right: 15%;
  margin-left: 15%;
   margin-top: 5%;
  
 margin-bottom: 10%;
  
}


.ph_flow {
text-align:center;
margin-top: 5%;
}

.flow{
display:none;
}



.lineTrigger{
    opacity: 0;
  }

.line:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top: 83px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim_ph 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


/*@keyframes border_anim {
  from{
    width: 0%;
  }
  to{
    width: 15%;
  }
}
*/
/* 右上へ */
.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}







.rlineTrigger{
   opacity: 0; 
  }

.rline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:15px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim_ph 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


/*@keyframes rborder_anim {
  from{
    width: 0%;
  }
  to{
    width: 13%;
  }
}
*/
/* 右上へ */
/*.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.2s
}*/

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}





.rflipRightTop{
animation-name:rflipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes rflipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}


.flineTrigger{
    opacity: 0;
  }

.fline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top:22px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim_ph 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}
.clineTrigger{
   opacity: 0; 
  }

.cline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:18px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim_ph 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}




/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:0;
  right:10%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:3%;}
      50%{bottom:7%;}
     100%{bottom:3%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-15px;
  bottom:3px;
    /*テキストの形状*/
  color: #fff;
  font-size: 11px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 0.75px;
    height: 15px;
    background: #fff;
    transform: skewX(-37deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:0.75px;
  height: 40px;
  background:#fff;
}



.start {
  
  background: #EFE5CE;
  position: fixed;
  top: 0;
  left: 0;
 width: 100vw;
height: 100vh;

  z-index: 11000;

 
position: fixed;
display: flex;
align-items: center;
justify-content: center;


}
.road_icon {
  position: fixed;
/*align-items: center;*/
left:30%;
  top: 47%;
  /*transform: translate(-50%, -50%);*/

  z-index: 11111;
  width: 120%;
}

.fon_ph {
font-size:1.5em;

  text-align: center ;
  margin-top: 23%;
}

.fon{
  display:none;
}
.start h3{
  display:none;
}

.start p{
  display:none;
}
.mik{
    display:none;
}

 


}






















@media screen and (min-width: 400px) and (max-width: 1019px) {

#hamburger .btn-gNav{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#hamburger .btn-gNav span{
  position: absolute;
  width: 100%;
  height: 2px;
  background: #666;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
#hamburger .btn-gNav span:nth-child(1) {
  top:3px;
}
/*#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
}*/
#hamburger .btn-gNav span:nth-child(2) {
  top:10px;
  left:-10px;
}
#hamburger .btn-gNav.open span:nth-child(1){
  background: #666;
  top: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}
#hamburger .btn-gNav.open span:nth-child(2){
  top: 6px;
  background :#666;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
  left:0px;
}
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #EDD496;
  font-size: 15px;
  box-sizing: border-box;
  z-index: 2;
  padding-top: 50px;
  transition: .3s;
}
#gNav.open{
  right: 0px;
}
#gNav .gNav-menu{
  width: 100%:;
  height:100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  /*margin-top:3%;*/
    
  /*justify-content: center;*/
}
#gNav .gNav-menu li{
  display: block;
  padding : 14px 30px;
}
#gNav .gNav-menu li a{
  color: #666;
  text-decoration: none;
}







.pcmenu{
  display: none;
  }


/*.sp { display: block !important; }*/

html,body{
 /* overflow: hidden*/
 font-size: 2vw;
}
  /* header img{
  width:30%;
  height:auto;
   }*/

   .photo{

   position: relative;/*相対配置*/
   margin-top: 4%;
  }

header{
  min-width: 1019px;
}

.slider0{
  margin-top:3%;
  margin-left:9%;
  min-width:50%;



max-width :100%;
}
.pc_slider0{
  display: none;
}


.top_about h2{

position: relative;
color: #EDB61D;
font-weight: bold;

/*width:18%;
  border-bottom: solid 1.4em #EDB61D;*/
  padding-top: 110px;
   margin-top:-110px;
   margin-bottom:3%;

  }

.top_Example h2{

    color: #EDB61D;
font-weight: bold;

/*width:18%;
  border-bottom: solid 1.4em #EDB61D;*/
  padding-top: 110px;
   margin-top:-110px;
    margin-bottom:10%;

  }


  .top_flow h2{


color: #EDB61D;
font-weight: bold;
 margin-bottom:10%;
   margin-top:20%;

/*width:18%;
  border-bottom: solid 1.4em #EDB61D;*/
  
 

  }

  .top_access h2{



color: #EDB61D;
font-weight: bold;
 margin-bottom:10%;
  margin-top:15%;

/*width:18%;
  border-bottom: solid 1.4em #EDB61D;*/

 


  }

  .top_FAQ h2{


color: #EDB61D;
font-weight: bold;

/*width:18%;
  border-bottom: solid 1.4em #EDB61D;*/
  padding-top: 110px;
   margin-top:-110px;
    margin-bottom:10%;
  

  }

  .top_contact h2{

    color: #EDB61D;
font-weight: bold;
text-align: right;

/*width:16%;
  border-bottom: solid 1.35em #EDB61D;*/
margin-left:auto;
  margin-right:10%;
    margin-top:2%;
     margin-bottom:8%;

  }


  .photo p {
font-weight: bold;
  position: absolute;/*絶対配置*/
  color: #E2AD05;/*文字色指定*/
  font-size:250%;
  top: 25%;
  left: 10%;
  }

.ph_minfont{
  display: none;
  }

.square {
  position: absolute;/*絶対配置*/
  top:0;
  left:2%;
   position: fixed;
  width: 140px;
  height: 70px;
  background: #00000000;
 /* background:green;*/
  z-index: 10001;
 
}
.qa-list{
  margin-right: 15%;
  margin-left: 15%;
   margin-top: 5%;
    margin-bottom: 10%;

  
}



.flow {
text-align:center;
margin-top: -2%;
margin-left: -10%;
width:120%;

}


.ph_flow{
  display:none;
}





.lineTrigger{
    opacity: 0;
  }

.line:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top:150px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim_pa 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


/*@keyframes border_anim {
  from{
    width: 0%;
  }
  to{
    width: 15%;
  }
}
*/
/* 右上へ */
/*.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.2s
}*/

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}







.rlineTrigger{
    opacity: 0;
  }

.rline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:40px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim_pa 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


/*@keyframes rborder_anim {
  from{
    width: 0%;
  }
  to{
    width: 13%;
  }
}
*/
/* 右上へ */
.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}





.rflipRightTop{
animation-name:rflipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes rflipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}

.flineTrigger{
    opacity: 0;
  }

.fline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top:40px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim_pa 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


.clineTrigger{
    opacity: 0;
  }

.cline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:35px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim_pa 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:0;
  right:10%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:3%;}
      50%{bottom:5%;}
     100%{bottom:3%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-20px;
  bottom:3px;
    /*テキストの形状*/
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 2px;
    height: 30px;
    background: #fff;
    transform: skewX(-21deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:2px;
  height: 75px;
  background:#fff;
}





.start {
  
  background: #EFE5CE;
  position: fixed;
  top: 0;
  left: 0;
 width: 100vw;
height: 100vh;

  z-index: 11000;

 
position: fixed;
display: flex;
align-items: center;
justify-content: center;


}
.road_icon {
  position: fixed;
  left: 5%;
  top: 7%;
  /*transform: translate(-50%, -50%);
  display: none;*/
  z-index: 11111;
  /*width: 280px;*/
}

.fon {
  position: fixed;
font-size:1em;

  text-align: center ;
/*  margin-top: 0;*/
/*    margin-left: 80%;*/
  bottom: 10%;
}



.start h3 {
  position: fixed;
font-size:1em;
line-height: 300%;

  text-align: center ;
  margin-top: -25%;
}

.start p {
  /*position: fixed;*/
font-size:1em;
line-height: 250%;

  text-align: center ;
  margin-top: 15%;


}
.mik{
    position: fixed;


  text-align: center ;
  margin-top: -13%;
}
.fon_ph{
  display:none;
}












}


















@media screen and (min-width:1020px) {

    /*　画面サイズが1024pxからはここを読み込む　*/

   /* .drawer{

        display: none;
    }
*/
#hamburger{
  display: none;

}
    .photo{

   position: relative;/*相対配置*/
   margin-top: -4%;
  }

  .slider0{
  margin-top:3%;
  margin-left:9%;



max-width :100%;
min-width:50%;
}

.pc_slider0{
  display: none;
}



.top_about h2{
position: relative;

color: #EDB61D;
font-weight: bold;


  /*border-bottom: solid 1.5em #EDB61D;*/
  padding-top: 140px;
   margin-top:-170px;
   margin-bottom:3%;
  

  

  }


 


  .top_Example h2{

    color: #EDB61D;
font-weight: bold;
/*
width:14%;
  border-bottom: solid 1.5em #EDB61D;*/
  padding-top: 140px;
   margin-top:-160px;
    margin-bottom:10%;

  }



  .top_flow h2{


color: #EDB61D;
font-weight: bold;

/*width:14%;
  border-bottom: solid 1.5em #EDB61D;*/
   margin-bottom:5%;
     margin-top:13%;
  
 

  }

  .top_access h2{



color: #EDB61D;
font-weight: bold;

/*width:14%;
  border-bottom: solid 1em #EDB61D;*/
  
  margin-bottom:5%;
  margin-top:11%;


  }

  .top_FAQ h2{


color: #EDB61D;
font-weight: bold;

/*width:14%;
  border-bottom: solid 1.5em #EDB61D;*/
  padding-top: 140px;
   margin-top:-170px;
    margin-bottom:5%;
  

  }


  .top_contact h2{

    color: #EDB61D;
font-weight: bold;
text-align: right;
/*width:11%;
  border-bottom: solid 1.45em #EDB61D;*/
margin-left:auto;
  margin-right:10%;
    margin-top:2%;
     margin-bottom:5%;

  }

  .photo p {
font-weight: bold;
  position: absolute;/*絶対配置*/
  color: #E2AD05;/*文字色指定*/
  font-size:250%;
  top: 30%;
  left: 10%;
  }

.ph_minfont{
  display: none;
  }

.square {
  position: absolute;/*絶対配置*/
  top:0;
  left:2%;
   position: fixed;
  width: 14vw;
  height: 7vw;
  background: #00000000;

  z-index: 10001;
 
}
.qa-list{
  margin-right: 15%;
  margin-left: 15%;
   margin-top: 5%;
    margin-bottom: 10%;


  
}


.flow {
text-align:center;
margin-top: -2%;
}

.ph_flow{
  display:none;
}



.lineTrigger{
    opacity: 0;
  }

.line:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top:180px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


/*@keyframes border_anim {
  from{
    width: 0%;
  }
  to{
    width: 15%;
  }
}
*/
/* 右上へ */
.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}







.rlineTrigger{
    opacity: 0;
  }

.rline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:40px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}






/*@keyframes rborder_anim {
  from{
    width: 0%;
  }
  to{
    width: 13%;
  }
}
*/
/* 右上へ */
/*.flipRightTop{
animation-name:flipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.2s
}

@keyframes flipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(-25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}
*/












.rflipRightTop{
animation-name:rflipRightTopAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
/*animation-delay: 0.2s*/
}

@keyframes rflipRightTopAnime{
  from {
   transform: translate(0px,-80px) rotate(25deg);
   opacity: 0;
  }

  to {
   transform: translate(0,0) rotate(0deg);
  opacity: 1;
  }
}





.flineTrigger{
    opacity: 0;
  }

.fline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;
  bottom: 0;*/
  margin-top:40px;
  
  border-bottom: solid 2em #EDB61D;
  animation: border_anim 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}


.clineTrigger{
    opacity: 0;
  }

.cline:before{
width:0%;
  content: '';
  position: absolute;
 /* left: 0;

  bottom: 0;*/
  left: 90%;
  transform: translateX(-100%);
  margin-top:28px;
    margin-right:100%;

  
  border-bottom: solid 2em #EDB61D;
  animation: rborder_anim 0.6s linear forwards;
  
  animation-delay: 0.2s



 
}





/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/

/*スクロールダウン全体の場所*/
.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:30%;
  right:10%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:21%;}
      50%{bottom:23%;}
     100%{bottom:21%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-25px;
  bottom:10px;
    /*テキストの形状*/
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 2px;
    height: 40px;
    background: #fff;
    transform: skewX(-15deg);
}

.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:2px;
  height: 100px;
  background:#fff;
}




.start {
  
  background: #EFE5CE;
/*  position: fixed;*/
  top: 0;
  left: 0;
 width: 100vw;
height: 100vh;

  z-index: 11000;

 
position: fixed;
display: flex;
align-items: center;
justify-content: center;


}
.road_icon {
  position: fixed;
  left: 5%;
  top: 7%;
 /* transform: translate(-50%, -50%);*/

  z-index: 11111;
/*  width: 280px;*/
}

.fon {


  position: fixed;
font-size:1em;

  text-align: center ;
/*  margin-top: 0;*/
/*    margin-left: 80%;*/
  bottom: 10%;
}

.start h3 {
  position: fixed;
font-size:1em;
line-height: 300%;

  text-align: center ;
  margin-top: -17%;
}

.start p {
  /*position: fixed;*/
font-size:1em;
line-height: 250%;

  text-align: center ;
  margin-top: 15%;


}
/*.start h4 {
  position: fixed;
font-size:1em;

  text-align: center ;
  margin-top: 0;
    margin-left: 95%;
  margin-top: 10%;
}*/

.mik {
    position: fixed;


  text-align: center ;
  margin-top: -8%;
}

.fon_ph{
  display:none;
}
 
}



















body{

background-color:#EFEBE1;
  font-family: 'Comfortaa', cursive;

  overflow-x : hidden;
overflow-y : auto;



}

header {
    display: flex;
    align-items: center;
        position: fixed;
        background: linear-gradient(rgba(237,214,162,1) 60%,rgba(237,214,162,0));

    z-index: 10000;
}


header img{
  margin-left: 1.5%;
     z-index: 10010;

}

.pcmenu{
   margin-left: auto;
}
.pcmenu nav {

/*  margin-left: auto;
  margin-right: 5%;*/



}


.pcmenu ul{
   text-align:right;
  margin-left: auto;
  margin-right: 5%;
/*  display:flex;
  */
  

}

.pcmenu li{
/*margin:0;*/
list-style:none;
font-family: 'Comfortaa', cursive;
display:inline;
}

.slider0 ul{

  display:flex;
  
  

}
.pc_slider0 ul{

  display:flex;
  
  

}


/*.photo{

   position: relative;相対配置
   margin-top: 4%;
  }*/


.photo img {
  width: 100%;
  margin-top:-50%;
  }


.top_about{
  margin-top: 8%;
  margin-left: 10%;
 line-height: 250%;
 margin-right:10%;



}
/*  .top_about h2{


color: #EDB61D;
font-weight: bold;

width:14%;
  border-bottom: solid 1.5em #EDB61D;
  padding-top: 140px;
   margin-top:-170px;
  

  }
*/

.border{
  position: relative;
  /*font-size: 18px;*/
}

.border:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -15%;
  border-bottom: solid 30px #EDB61D;
  animation: border_anim 1s linear forwards;
   animation-timing-function:ease-out;
 
/*  font-weight: bold;*/

}

@keyframes border_anim {
  0%{
    width: 0%;
  }
  100%{
    width: 10%;
  }
}





.top_about h3{
  font-size:230%;
  line-height:450%;
  margin-top: -2%;

}
  .top_about h4{

    font-size:120%;
    line-height: 300%;
    margin-bottom:5%;
     margin-top:-3%;
  }

.top_about p{
   margin-top:3%;
}


  .top_Example{
  margin-top: 7%;
  margin-left: 10%;
  margin-right:10%;
 line-height: 250%;


}


  /*.top_Example h2{

    color: #EDB61D;
font-weight: bold;

width:14%;
  border-bottom: solid 1.5em #EDB61D;
  padding-top: 140px;
   margin-top:-160px;

  }*/



/*.slider0{
  margin-top:3%;
  margin-left:9%;



max-width :100%;
}
*/





.befphoto0 {
  
  margin-right: 0;
  width :100%;

 
  
}

.ex1_tex{
margin-left:10%;
margin-right:10%;
line-height: 250%;
margin-bottom: 10%;
 
}

.ex1_tex p{

   margin-top: 1%;
    width :100%;

}



.slider1{
  margin-top:10%;
  margin-left:9%;



width :100%;
}



hr {
 margin-top:10%;


   border-width: 1px 0px 0px 0px; /* 太さ */
   border-style: solid; /* 線種 */
   border-color: #EDB61D;   /* 線色 */

}







/*.sns{

margin-left:10%;
display: flex;*/
  /*align-items: center; /* 垂直中心 */
/*  justify-content: center; /* 水平中心 */
/*color:#828282;

}*/



/*.top_contact h2{

    color: #EDB61D;
font-weight: bold;

width:12%;
  border-bottom: solid 1.5em #EDB61D;
margin-left:auto;
  margin-right:10%;
    margin-top:2%;

  }*/
  

.con{
   text-align:right;
   width:90%;
  margin-top: 3%;
   margin-right:50%:
   margin-left:auto;
    line-height:300%;

   

}

p.con:after{
  content:"↗︎";
}


.con1{
    text-align: right;
width:50%;
  margin-left:auto;
  margin-right:10%;
  margin-bottom: :-10%;
  font-size: 80%;

}

p.con1:before{
  content:"🌼";
}
p.con1:after{
  content:"🌼";
}



.sns0 {
   
  margin-left:10%;
  margin-top:-13%;
  /*margin-bottom: 2%;*/
  color:#828282;
  margin-right:10%;
  

}
.sns0 img{
   margin-left:-2%;
margin-top:5%;
}

.sns1{
  color:#828282;

}

a.toplink {
color:#000000;

text-decoration:none;

 position: relative;
  display: inline-yellow;
  
}

a.toplink ::after{
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #E2AD05;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .3s;
}
a:hover.toplink ::after{
  transform-origin: left top;
  transform: scale(1, 1);
}


a.iconlink {
 
color:#828282;
text-decoration:underline;

}

a:hover.iconlink {
 
color:#EDB61D;
text-decoration:underline;
 
}

/*.iconcolar{
  
  margin-left:0%;
}
*/

.bottomcolar{
  background-color:#EFE5CE;
  height:200%;
  padding-top: 0.5%;

}




footer{

  font-size:70%;

  text-align:center;
  background-color:#EDD496;



}

.foot p{
  line-height:500%;
  color:#828282;
}






/*ここからFlow*/

.top_flow{
  margin-top: 9.7%;
  margin-left:10%;
 line-height: 250%;
 margin-right:10%;



}

/*.top_flow h2{


color: #EDB61D;
font-weight: bold;

width:14%;
  border-bottom: solid 1.5em #EDB61D;
  
 

  }*/

  .top_flow h3{
    margin-top: 2%;
    font-size: 120%;
  }










.top_FAQ{
  margin-top: 7%;
  margin-left: 10%;
  
 line-height: 250%;


}

/*.top_FAQ h2{


color: #EDB61D;
font-weight: bold;

width:14%;
  border-bottom: solid 1.5em #EDB61D;
  padding-top: 140px;
   margin-top:-170px;
  

  }*/

.top_FAQ h3{
    margin-top: 2%;
    font-size: 120%;
  }






.qa-list dl {
    position: relative;
    margin: 0;
    padding: 10px 80px 10px 30px;
    cursor: pointer;
    border-bottom: 1px solid #A8A8A8; /*下３本の横線*/
}
.qa-list dl:first-child {
    border-top: 1px solid #A8A8A8; /*一番上の線/pxは太さ*/
}
.qa-list dl::before { /*矢印（open前）*/
    position: absolute;
    top: 20px;
    right: 35px;
    display: block;
    width: 7px;
    height: 7px;
    margin: auto;
    content: '';
    transform: rotate(135deg);
    border-top: 2px solid #A8A8A8;
    border-right: 2px solid #A8A8A8;
}
.qa-list .open::before {/*矢印（open後に向き変わる）*/
    transform: rotate(-45deg);
}
.qa-list dl dt {
    position: relative;
    margin: 0;
    padding: 0 0 0 50px; /*Qと文字の間の空白*/
   /* font-weight: bold;
    font-size: 15px;*/
}
.qa-list dl dt::before {  /*先頭のQ*/
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    content: 'Q.';
    color: #EDB61D;
}
.qa-list dl dd::before { /*先頭のA*/
    font-size: 22px;
    line-height: 1;
    position: absolute;
    top: 3px;
    left: 2px;
    display: block;
    content: 'A.';
    font-weight: bold;
    color: #C9AE73;
}
.qa-list dl dd {   /*Aの位置*/
    position: relative;
    display: none;
    height: auto;
    margin: 20px 0 0;
    padding: 0 0 0 50px;
}
.qa-list dl dd p {
    margin: 30px 0 0;
}
.qa-list dl dd p:first-child{ /*入れないと開いた時にガクってなる*/
    margin-top: 0;
}

@media screen and (max-width: 767px) {
.qa-list dl {
    position: relative;
    padding: 15px 40px 15px 10px;
}
.qa-list dl::before {
    top: 20px;
    right: 20px;
    width: 7px;
    height: 7px;
}
.qa-list dl dt {
    padding: 0 0 0 30px;
    font-size: 14px;/*スマホの時の文字サイズ*/
}
.qa-list dl dt::before {
    font-size: 14px;
    top: 3px;
    left: 5px;
    content: 'Q.';
}
.qa-list dl dd::before {
    font-size: 14px;
    top: 5px;
    left: 5px;
    content: 'A.';
}
.qa-list dl dd {
    margin: 10px 0 0;
    padding: 0 0 0 30px;
    font-size: 14px;
}
.qa-list dl dd p {
    margin: 30px 0 0;
}
.qa-list dl dd p:first-child{
    margin-top: 0;
}
}





/*ここからmap*/





.top_access{
  margin-top: 9.7%;
  margin-left: 10%;

 line-height: 250%;


}


/*.top_access h2{



color: #EDB61D;
font-weight: bold;

width:14%;
  border-bottom: solid 1em #EDB61D;
  
 


  }*/

  .top_access h3{
    margin-top: 2%;
    font-size: 120%;
  }


  /*.map{
      margin-top: 4%;
       margin-bottom: 10%;
  margin-left: 10%;
 width:40%;
 padding-bottom: 56.25%;
 position: relative;
  }*/

  .map {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
 margin-top: 4%;
       margin-bottom: 10%;
  margin-left: 10%;
}
 
.map iframe{
position: absolute;
top: 0;
left: 0;
width: 90%;
height: 70%;
}












a:hover.square{
 text-decoration:none;
}


@keyframes border_anim {
  from{
    width: 0%;
  }
  to{
    width: 15%;
  }
}


@keyframes border_anim_pa {
  from{
    width: 0%;
  }
  to{
    width: 20%;
  }
}


@keyframes border_anim_ph {
  from{
    width: 0%;
  }
  to{
    width: 25%;
  }
}


@keyframes rborder_anim {
  from{
    width: 0%;
  }
  to{
    width: 13%;
  }
}

@keyframes rborder_anim_pa {
  from{
    width: 0%;
  }
  to{
    width: 16.5%;
  }
}

@keyframes rborder_anim_ph {
  from{
    width: 0%;
  }
  to{
    width: 20%;
  }
}



.fadeUpTrigger{
opacity: 0;
}
.fadeUp{
animation-name:fadeUpAnime;
animation-duration:1.2s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.4s;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(40%);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}



.fadeUpTrigger1{
opacity: 0;
}
.fadeUp1{
animation-name:fadeUpAnime;
animation-duration:1.2s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.2s;
}






.fadeDownTrigger{
  opacity: 0;
}




.fadeDown{
animation-name:fadeDownAnime;
animation-duration:1.2s;
animation-fill-mode:forwards;
opacity:0;
animation-delay: 0.4s;
}

@keyframes fadeDownAnime{
  from {
    opacity: 0;
  transform: translateY(-40%);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


span{
  display:block;
}




/*.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
   
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    content: "";
    vertical-align: middle;
}


.sample5-6::before{
    box-sizing: border-box;
    width: 20rem;
    height: 20rem;
    border: 1px solid #000;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.sample5-6::after{
    left: 100px;
    bottom: 50px;
    width: 100px;
    height:100px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
*/

